

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  flex-wrap: nowrap;
}

#sidebar {
  width: $sidebar-width;
  height: 100vh;
  background: rgb(114, 129, 189);
  color: white;
  transition: all 0.3s;
  overflow-y: auto;
}


#sidebar.active {
  

  margin-left: -$sidebar-width;
  background: #7386D5;
}

.sidebar-header {
  position: relative;
  border-bottom: 3px solid white;
  background-color: rgb(203, 171, 233);
  text-align: center;

  

}

.sidebar-header > .logo {
  width: 200px;
  

}



.carditem{
  display: flex;
  flex-direction: column;
  align-items: flex-start
  
}


.cardbox{
  padding: 5% 5% 5% 5%;
  border-bottom: 2px solid #39ba5b;
  cursor: pointer;
}

.cardbox:hover{
  background-color: rgb(27, 45, 141);
  
}

.active-item{
  background-color: rgb(27, 45, 141);
}

.ctype{
  
  align-self: flex-end;
  padding: 0px 8px;
  background-color: #39ba5b;
  
}


@media (max-width: 768px) {
  #sidebar {
      margin-left: -$sidebar-width;
  }
  #sidebar.active {
      margin-left: 0;
  }
}