.cardinfo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
 
.img{
   
    width: 70;
    height: 50vh;
    margin: 3%;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.infobox{
    margin: 3% 3% 3% 0;

}

.desc{
    margin-bottom: 3%;
}

.text{
    font-size: 1.5rem;

}

.text > li > span{
    font-weight:600;
}






@media (max-width: 768px) {
    .cardinfo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    }

    .img{
        margin:3% auto;
        max-width: 60%;
        min-width: 30%;
    }

    .infobox{
        margin: 5%;
    
    }


  }

